.header {
    background-color: #ffeeee;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #a07c43;
    font-size: 30px;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    float: left;
    padding: 10px;
}

a {
    color: #a07c43;
}

main {
    background-color: #fefaff;
}


.bg-pink-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(236 72 153 / var(--tw-bg-opacity));
}

.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}



.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.gap-2 {
    gap: 0.5rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.mt-4 {
    margin-top: 1rem;
}

.rounded {
    border-radius: 0.25rem;
}

a {
    color: #9d8566;
    text-decoration: inherit;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tracking-wide {
    letter-spacing: .025em;
}

.text-center {
    text-align: center;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.leading-none {
    line-height: 1;
}

.color1 {
    color: #9d8566;
}

.border {
    border-width: 1px;
}

.border-color {

    color: #9d8566;
}

.pb-8 {
    padding-bottom: 2rem;
}

.text-center2 {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat;
    justify-content: center;
}

.lang1 {
    margin: 1%;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.block {
    display: block;
}

.color2 {
    color: #feb7a3;
}

.underline {
    text-decoration-line: underline;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.movie {
    display: grid;
    place-content: center;
    place-items: center;
}

.flex {
    display: flex;
    flex-direction: row;

}

.concert {
    text-align: center;
}

.concert2 {
    display: flex;
    justify-content: space-between;
}

.media2 {
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(100px, 1fr));
    column-gap: 200px;
    row-gap: 10px;
}

.media3 {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.relative {
    position: relative;
}

.movie2 {
    text-align: center;
}

.mt-2 {
    clear: both;
}

.mt-0 {
    margin-top: 0;
}

.ml-12 {
    margin-left: 3rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.CD {
    display: grid;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.gap-4 {
    gap: 1rem;
}

.w-full {
    width: 100%;
}

.flex-1 {
    flex: 1 1 0%;
}

.bg-header {
    --tw-bg-opacity: 1;
    background-color: rgb(255 238 238 / var(--tw-bg-opacity));
}

.justify-center {
    justify-content: center;
}

.mt-8 {
    margin-top: 2rem;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.items-center {
    align-items: center;
}

.bg-secondary {
    background-color: hsl(var(--secondary));
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
}